/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



 body{
	font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left;
}
.col-lg-12 {
  width: 100%;
}
.col-lg-11 {
  width: 91.66666667%;
}
.col-lg-10 {
  width: 83.33333333%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-8 {
  width: 66.66666667%;
}
.col-lg-7 {
  width: 58.33333333%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-5 {
  width: 41.66666667%;
}
.col-lg-4 {
  width: 33.33333333%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-2 {
  width: 16.66666667%;
}
.col-lg-1 {
  width: 8.33333333%;
}
.col-lg-pull-12 {
  right: 100%;
}
.col-lg-pull-11 {
  right: 91.66666667%;
}
.col-lg-pull-10 {
  right: 83.33333333%;
}
.col-lg-pull-9 {
  right: 75%;
}
.col-lg-pull-8 {
  right: 66.66666667%;
}
.col-lg-pull-7 {
  right: 58.33333333%;
}
.col-lg-pull-6 {
  right: 50%;
}
.col-lg-pull-5 {
  right: 41.66666667%;
}
.col-lg-pull-4 {
  right: 33.33333333%;
}
.col-lg-pull-3 {
  right: 25%;
}
.col-lg-pull-2 {
  right: 16.66666667%;
}
.col-lg-pull-1 {
  right: 8.33333333%;
}
.col-lg-pull-0 {
  right: auto;
}
.col-lg-push-12 {
  left: 100%;
}
.col-lg-push-11 {
  left: 91.66666667%;
}
.col-lg-push-10 {
  left: 83.33333333%;
}
.col-lg-push-9 {
  left: 75%;
}
.col-lg-push-8 {
  left: 66.66666667%;
}
.col-lg-push-7 {
  left: 58.33333333%;
}
.col-lg-push-6 {
  left: 50%;
}
.col-lg-push-5 {
  left: 41.66666667%;
}
.col-lg-push-4 {
  left: 33.33333333%;
}
.col-lg-push-3 {
  left: 25%;
}
.col-lg-push-2 {
  left: 16.66666667%;
}
.col-lg-push-1 {
  left: 8.33333333%;
}
.col-lg-push-0 {
  left: auto;
}
.col-lg-offset-12 {
  margin-left: 100%;
}
.col-lg-offset-11 {
  margin-left: 91.66666667%;
}
.col-lg-offset-10 {
  margin-left: 83.33333333%;
}
.col-lg-offset-9 {
  margin-left: 75%;
}
.col-lg-offset-8 {
  margin-left: 66.66666667%;
}
.col-lg-offset-7 {
  margin-left: 58.33333333%;
}
.col-lg-offset-6 {
  margin-left: 50%;
}
.col-lg-offset-5 {
  margin-left: 41.66666667%;
}
.col-lg-offset-4 {
  margin-left: 33.33333333%;
}
.col-lg-offset-3 {
  margin-left: 25%;
}
.col-lg-offset-2 {
  margin-left: 16.66666667%;
}
.col-lg-offset-1 {
  margin-left: 8.33333333%;
}
.col-lg-offset-0 {
  margin-left: 0;
}

.statistics-header{
	font-size: 40px;
	text-transform: uppercase;
	color: #979595;
}

.statistics-table{
	font-size: 20px;
	text-transform: uppercase;
}
.statistics-table tr > td{
	border-right: 2px solid #ababab;
	padding-right: 5px;
	padding-left: 5px;
}
.statistics-table tr > th{
	padding-right: 5px;
	padding-left: 5px;
	border-right: 2px solid #ababab;

}
.player-row{
	color: #cb18f0;
}

.dealer-row{
	color: #86daf4;
}

.action-button{
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
	color: #fff;
	border-width: 0px;
	text-transform: uppercase;
	text-decoration: none; 
	display: inline-block;
	cursor: pointer;
}

.info-button{
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
	color: #fff;
	border-width: 0px;
	text-transform: uppercase;
	text-decoration: none; 
	display: inline-block;
}
.skip-button{
	background-color: #fd0056;
	box-shadow: 0px 5px 0px #ae0000;
	margin-right: 10px;
	font-size: 12px;
}

.pick-card-button{
	background-color: #1de443;
	box-shadow: 0px 5px 0px #009523;
	margin-right: 10px;	
	font-size: 12px;
}
.mustard-button{
	background-color: #ff6200;
	box-shadow: 0px 5px 0px #c73900;
}

.start-button{
	margin-left: 35%;
}
.player-bet{
	margin-top: 10%;
	display: inline-block;
	margin-left: 35%;	
}

.statistics-button{
	background-color: #ffdc00;
	box-shadow: 0px 5px 0px #c0a700;
	margin-left: 90px;
}
.game-box{
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	border-radius: 4px;
	margin-top: 15%;
	margin-left: 25%;
	width: 50%;
	height: 280px;
	padding: 20px;
	padding-bottom: 50px;
}

.player-wins-box{
	margin-left: 19%;
  border-radius: 5px;
  padding: 50px;
  font-size: 27px;
  color: #FFF;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
  margin-right: 10px;
  background-color: rgb(253, 0, 86);
}
.player-box{
	display: inline-block;
	margin-left: 57px;
}

.dealer-box{
	display: inline-block;
}

.card-box{
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 20px;
	color: #fff;
	border-width: 0px;
	text-transform: uppercase;
	text-decoration: none; 
	float: left;
	margin-right: 10px;
}
.player-card-box{
	background-color: #db7ef3;
	box-shadow: 0px 5px 0px #006c91;
}
.dealer-card-box{
	background-color: #00b7f5;
	box-shadow: 0px 5px 0px #006c91;
}

.name-box{
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	border-width: 0px;
	text-transform: uppercase;
	text-decoration: none; 
	display: inline-block;
}

.player-name-box{
	background-color: #cb18f0;
	box-shadow: 0px 5px 0px #8000ac;
}

.dealer-name-box{
	background-color: #86daf4;
	box-shadow: 0px 5px 0px #006c91;
	
}
