<% provide(:page_title, "#{params[:action].gsub('_', ' ').titleize} | Game# #{@game.id}") %>

<script type="text/javascript">
	$(document).ready(function(){
		$('.game-box').css("height", "330px");					
	})
</script>
<p>Player ID: <%= @game.player_id %></p>
<p>Player Total Bet: $<%= get_player_total_bet %></p>
<p>Player Total Winnings: $<%= get_player_winnings %></p>
<br />
<div class = "col-lg-12">
	<% ['dealer', 'player'].each do |player_type| %>
		<div class="col-lg-5">

			<div class = '<%= "#{player_type}-box" %>'>
				<p class= '<%= "name-box #{player_type}-name-box"%>'><%= player_type.capitalize %></p>
				<br />
				<% instance_variable_get("@#{player_type}_cards").each do |card| %>
					<p class = '<%= "card-box #{player_type}-card-box"%>'><%= card.card_name %></p>
				<% end %>
				
				<% if player_type == 'player' && @game.player_score.to_i < 21 && @game.game_won_by.nil? %>
					<br />
					<%= link_to 'Pick a card', pick_a_card_path(@game.id), :class =>"action-button pick-card-button" %>
					<%= link_to 'Skip', skip_card_path(@game.id), :class => "action-button skip-button" %>
				<% end %>
			</div>
		</div>
	<% end %>	

	<% if @game.game_won_by.present? %>	
		<div style="margin-top: 50px;" class="col-lg-12">
			<script type="text/javascript">
				$(document).ready(function(){
					$('.game-box').css("height", "600px").css('margin-top', '5%');					
				})
			</script>
			<div class="result-box">
				<div style="margin-bottom: 50px;" class="col-lg-12">
					<button class="info-button player-wins-box" id="pick-card"><%= @game.game_won_by.capitalize %> Wins!</button>
				</div>
				<br />
				<div class="col-lg-5">
					<%= link_to 'Deal Again', '/dashboards/home', :class=> "action-button mustard-button" %>
				</div>
				<div class="col-lg-5">
					<%= link_to 'Statistics', '/game/statistics', :class=>"action-button statistics-button" %>
				</div>
			</div>
		</div>
	<% end %>

</div>
