<center>
	<h2 class = "statistics-header">Last Four Games Statistics</h2>
	<% if @games.present? %>
		<table class = "statistics-table">
			<tr>
				<th></th>
				<% @games.each_with_index do |game, index| %>
					<th style = "color: yellow;">Game <%= index+ 1 %></th>
				<% end %>
			</tr>
			<tr>
				<td class = "dealer-row">Dealer</td>
				<% @games.each do |game| %>
					<td style = '<%= game.game_won_by == "dealer" ?  "color: #1de443;" : "color: #8a969a;" %>'><%= game.dealer_score %></td>
				<% end %>
			</tr>
			<tr>
				<td class = "player-row">Player</td>
				<% @games.each do |game| %>
					<td style = '<%= game.game_won_by == "player" ? "color: #1de443;" : "color: #8a969a;" %>'><%= game.player_score %></td>
				<% end %>
			</tr>
		</table>
	<% else %>
		<center><p>Data Not Available</p></center>
	<% end %>
<br />

<center><%= link_to 'Deal Again', '/dashboards/home', :class=> "action-button mustard-button" %></center>