<% provide(:page_title, "#{params[:action].gsub('_', ' ').titleize}") %>
<div class="game-box">
	<p>Player Total Bet: $<%= get_player_total_bet %></p>
	<p>Player Total Winnings: $<%= get_player_winnings %></p>
	<%= render :partial => 'statistics_table' %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.game-box').css("height", "300px");					
	})
</script>

