<div style="clear: both;"></div>
<div class="container">
	<center><h1>Play Blackjack for Free</h1></center>
	<p>
		<h3>Rules & point System</h3>
		<ul>
			<li>Number cards (2 to 10) has a point value equal to the number on the card.</li>
			<li>Ace: 11 points.</li>
			<li>Jack/Queen/King: 10 points.</li>
			<li>The player plays the game against the dealer.</li>	
			<li>Aim of the player and the dealer is to get the maximum score <= 21.</li>
			<li>A score of exactly 21 is called Black Jack.</li>
			<li>A score of > 21 is bust.</li>
		</ul>
	</p>	
</div>

<div style="margin-top: 5%;" class="game-box">
	<%= form_tag setup_game_path, :method => 'post'  do %>
	<%= number_field_tag 'game[player_bet]', '#', :placeholder => 'Player Bet', :required => true, :class => 'player-bet' %>
	<br /><br />
	<%= submit_tag 'Start Game', :class=> "action-button mustard-button start-button" %>
	<% end %>

</div>

