<!DOCTYPE html>
<html>
<head>
  <title><%= raw(full_title(yield(:page_title))) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  
  <%= csrf_meta_tags %>


</head>
<body>
<% if notice %>
	<p style="color: green; text-align: center;"><%= notice %>
<% end %>
<%= yield %>

</body>
</html>
